:root {
  --color-accent: oklch(85% 0.1382 78.36);
}

html {
  accent-color: var(--color-accent)
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 80ch;
    margin-inline: auto;
    padding: 0 1rem;
  }

img {
    max-width: 50%; /* Scale the image to fit within its container */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Prevent inline spacing issues */
    margin: 1rem 0; /* Center the image */
}

nav {
  display: flex;
  margin-bottom: 0.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);

  ul {
    display: contents
  }

  li {
    display: contents
  }
  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }

  a:hover {
    border-bottom: 0.4em solid var(--color-accent); 
    background-color: oklch(from var(--color-accent) 95% 5% h);
}

  .current {
    border-bottom-width: 0.4em;
    border-bottom-style: inherit; /* Add border width, style, and color */
    border-bottom-color: inherit;
    padding-bottom: 0.3em;
  }
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
}

label {
  /* display: contents; */
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  /* gap: 1em; */

  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
  }
  
  h2{
    margin: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
  /* margin-bottom: 0.5rem; */
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;

  p {
    margin-top: 0rem;
    padding-top: 0rem;
  }
}

section header.body {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid gray;
  width: 100%;
  padding-bottom: 0rem;
}

section article {
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-left: 2rem; /* Adjust the value as needed */
  }

  h4 { 
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
  }

  .left {
    text-align: left;
  }
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.education {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0.5rem;
}
.left {
  text-align: left;
  padding-left: 0;
}

.right {
  text-align: right;
  padding-left: 0;
}

article h4 {
  margin-top: 0;
  margin-bottom: 0.5rem; /* Adjust this value to control the gap */
}

article p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0.5rem; /* Adjust this to control the space between the list and previous content */
}
